<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="mailchimp:api_key" value="0f9feb1bd51ff0675c4746c9556ea71a-us7"/>
    <add key="mailchimp:list_id" value="822d4f50c0"/>
  </appSettings>
  <connectionStrings>
    <add name="worldsbestbars_db" connectionString="Data Source=.\SQLEXPRESS2012;Initial Catalog=com.worldsbestbars.www;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" layout="${time} (${level:lowercase=true}) ${message}" />
      <target name="file" xsi:type="File" layout="${longdate} (${level:lowercase=true}) ${logger} ${message}" fileName="${basedir}/logs/${shortdate}.log" />
    </targets>
    <rules>
      <logger name="*" writeTo="console,file" minlevel="Trace" />
    </rules>
  </nlog>
</configuration>