@model LostPasswordModel

<div id="panel-1">
  <div class="full_width whitebox">
    <h2>Password reset</h2>
    <p>You should receive an email with instructions on resetting your password shortly.</p>
  </div>
</div>
