@model LostPasswordModel

<div id="panel-1" class="forgottonpassword">
  <div class="full_width whitebox">
    <h2>Password reset</h2>
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Email)
      @Html.TextBoxFor(model => model.Email, new { type = "email" })
      @Html.ValidationMessageFor(model => model.Email)

      <button type="submit">Reset</button>
    }
  </div>
</div>

