@{Layout = null;}
<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">
<head>
    <title>World&#39;s Best Bars</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/Content/css/global.css" />
    <!--[if IE 6]>
  <link href="/Content/css/ie6.css" rel="stylesheet" type="text/css" />
  <![endif]-->
    <!--[if IE 7]>
  <link href="/Content/css/ie7.css" rel="stylesheet" type="text/css" />
  <![endif]-->
    <!--[if IE 8]>
  <link href="/Content/css/ie8.css" rel="stylesheet" type="text/css" />
  <![endif]-->
    <!--[if IE 9]>
  <link href="/Content/css/ie9.css" rel="stylesheet" type="text/css" />
  <![endif]-->
    <!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
    <meta property="fb:page_id" content="149071961796732" />
    <meta property="fb:admin" content="brendan.j.mckenzie" />
    <meta property="og:title" content="World&#39;s Best Bars" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://staging.worldsbestbars.com/" />
    <meta property="og:image" content="http://staging.worldsbestbars.com/content/img/for-facebook.jpg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="description" content="Bars, Cocktail Lounges and Cool Pubs around the World" />
</head>
<body class="error">
    <a id="topofpage"></a>
    <div id="container">
        <div id="page">
            <div id="header">
                <a href="/" title="World's Best Bars &reg;">
                    <h1>World's Best Bars</h1>
                </a>
                <hr class="hr">
            </div>
            <div id="content" class="browser-error">
                @if (ViewBag.Error == null)
                {
                    <h2>You have successfully unsubscribed from our mailing list.</h2>

                    <p>
                        We have put a flag against your email address to make sure we don't bother you with
                        the latest and greated bars around the world. If you want to continue to receive
                        these email please <a style="font-size: 14px; display: inline; margin: 0" href="mailto:info@worldsbestbars.com">
                            contact us</a>now.
                    </p>
                }
                else
                {
                    <h2>We had some trouble unsubscribing you from our mailing list.</h2>

                    <p>@ViewBag.Error</p>
                    <p>
                        If you want to continue to have trouble please <a style="font-size: 14px; display: inline;
                            margin: 0" href="mailto:info@worldsbestbars.com">contact us</a>now.
                    </p>
                }
            </div>
        </div>
        <div id="footer">
            <a href="#topofpage" class="whitelink">[ Top of page ]</a><span class="copyright">&copy;
                2012 World's Best Bars</span>
            <hr class="hr10">
        </div>
    </div>
    <script type="text/javascript" src="/Content/js/global.js"></script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', ''], ['_trackPageview'], ['_trackPageLoadTime']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
