@{
  ViewBag.Title = "Page not Found";
}
<div id="generic" class="wb">
  <h2>
    Sorry - Page not found.</h2>
  <p>
    <a href="@("/")">Click here back to home page</a></p>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_trackEvent', 'error', '404', window.location.pathname]);
</script>
