body {
  padding-top: 60px;
  /* 60px to make the container go all the way to the bottom of the topbar */

}
h1 {
  border-bottom: 2px solid #0094ff;
}
.form-actions {
  padding: 5px 5px 7px;
}
textarea {
  resize: vertical;
}
textarea.code {
  font-family: 'Consolas';
}
#map-canvas {
  height: 400px;
}
#map-canvas img {
  max-width: none;
}
address > * {
  display: block;
}
