@model IEnumerable<Advert>

<div class="container">
  <h1>Active Adverts</h1>
  @if (Model.Any())
  {
    foreach (var advert in Model)
    {
    <div class="span6">
      <h2>@advert.Title</h2>
      <p><a href="/advertising/@advert.Id" class="btn">More</a></p>
    </div>
    }
  }
  else
  {
    <p>There are no active advertising campaigns.</p>
  }
</div>
