<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="path:media:physical" value="C:\websites\com.worldsbestbars\#shared\media" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="worldsbestbars_db" connectionString="Data Source=.;Initial Catalog=com.worldsbestbars.www;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" xdt:Transform="Insert" />
  </system.webServer>
</configuration>