<div class="popup login_popup">
  <div class="inner">
    <a class="close" href="#">Close</a>
    <div class="pop_up_form">
      <form action="@("/user/login")" method="post" id="signin_form">
        <h3>Log in to World's Best Bars</h3>
        <p>
          Welcome back! Enter your email address and password
        </p>
        <label>
          Email address <span>*</span></label>
        <input type="text" name="email" maxlength="50" />
        <label>
          Password <span>*</span></label>
        <input type="password" size="20" name="password" maxlength="20" />
        <a href="/lost-password" style="float:right">Can't remember your password?</a>
        <input type="submit" value="Login" name="login_submit" id="login_submit" />
      </form>
    </div>
  </div>
</div>
