<div class="popup sign_up_popup">
  <div class="inner">
    <a class="close" href="#">Close</a>
    <div class="sign_up_form">
      <form action="@("/user/register")" method="post" id="signup_form">
        <h3>Join World's Best Bars</h3>
        <p>
          Registering is quick, easy and free
        </p>
        <label>
          User Name <span>*</span></label>
        <input type="text" name="name" maxlength="50" />
        <label>
          Home City</label>
        <input type="text" name="city" maxlength="50" />
        <label>
          Email<span>*</span></label>
        <input type="text" name="email" maxlength="50" />
        <label>
          Date of birth</label>
        <select name="dobDay">
          <option value="" selected="selected">Day</option>
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <select name="dobMonth">
          <option value="" selected="selected">Month</option>
          <option value="01">Jan</option>
          <option value="02">Feb</option>
          <option value="03">Mar</option>
          <option value="04">Apr</option>
          <option value="05">May</option>
          <option value="06">Jun</option>
          <option value="07">Jul</option>
          <option value="08">Aug</option>
          <option value="09">Sep</option>
          <option value="10">Oct</option>
          <option value="11">Nov</option>
          <option value="12">Dec</option>
        </select>
        <select name="dobYear">
          <option value="" selected="selected">Year</option>
        </select>
        <script type="text/javascript">
          for (var i = new Date().getFullYear() ; i >= new Date().getFullYear() - 90; i--) {
            $('select[name=dobYear]').append('<option value=' + i + '>' + i + '</option>');
          }
        </script>
        <br />
        <label>
          Password <span>*</span></label>
        <input type="password" id="user_password" size="20" maxlength="20" name="password">
        <label>
          Confirm Password <span>*</span></label>
        <input type="password" size="20" maxlength="20" name="passwordConfirm">
        <input type="checkbox" name="receive_email" id="user_receive_email">&nbsp; <span>Receive
        our email newsletter?</span>
        <br />
        <input type="submit" value="Sign Up" id="sign_up_submit" />
      </form>
    </div>
  </div>
</div>
<div class="popup login_popup">
  <div class="inner">
    <a class="close" href="#">Close</a>
    <div class="pop_up_form">
      <form action="@("/user/login")" method="post" id="signin_form">
        <h3>Log in to World's Best Bars</h3>
        <p>
          Welcome back! Enter your email address and password
        </p>
        <label>
          Email address <span>*</span></label>
        <input type="text" name="email" maxlength="50" />
        <label>
          Password <span>*</span></label>
        <input type="password" size="20" name="password" maxlength="20" />
        <a href="/lost-password" style="float:right">Can't remember your password?</a>
        <input type="submit" value="Login" name="login_submit" id="login_submit" />
      </form>
    </div>
  </div>
</div>
