@model UserSummary

<div class="span3 user summary">
  <h2>@(!string.IsNullOrWhiteSpace(Model.Name) ? Model.Name : "[null]")</h2>
  <div class="row">
    <div class="span2">Admin: @(Model.IsAdmin ? "Yes" : "No")</div>
    <div class="span4">Email: @Model.Email</div>
  </div>
  <div class="row">
    <div class="span2">Joined: @Model.Created.ToString("MMM d, yyyy")</div>
  </div>
</div>
