@{
  ViewBag.Title = "Cookie Policy";
}
<div id="generic" class="wb">
  <div class="header_box">
    <h2>World's Best Bars - Cookie Policy</h2>
  </div>
  <hr class="exp" />
  <div class="main_box">
    <hr class="spacer" />

    <p>Cookies are a standard method of registering user preferences when people use websites, to ensure a better and more personalised experience. These preferences are stored in a file on your computer's hard disk drive. For example, a cookie would contain your preferred country of residence so we do not have to ask you this question each time you visit. We also use ‘analytical’ cookies. These allow us to recognise and count the number of visitors and to see how visitors move around the site when they’re using it. This helps us improve the way our website works, for example by making sure users find what they need easily.</p>
    <p>Our website uses both persistent and session cookies. Persistent cookies are cookies that stay on your computer permanently until you "manually" delete them. Session cookies delete themselves automatically when you leave a website and go to another one or shut down your browser.</p>
    <p>For more information about cookies, including how to enable cookies, change your browser settings and find and delete cookies on your hard drive, please refer to your web browser's help menus or visit <a href="http://www.aboutcookies.org.">www.aboutcookies.org</a></p>
  </div>
</div>
