@{
  ViewBag.Title = "Terms and Conditions";
}
<div id="generic" class="wb">
  <div class="header_box">
    <h2>
      World's Best Bars - Terms and Conditions</h2>
  </div>
  <hr class="exp" />
  <div class="main_box">
    <hr class="spacer" />
    <p>
      The following terms and conditions (Terms) apply to users, viewers and all people
      who have access to the site www.WorldsBestBars.com (Site). By using or viewing this
      site you agree to these terms. If you do not agree, do not use this site. Any access
      or use of this website is undertaken at the user's own risk. The site is owned by
      Fitzgerald & Co. Ltd, ( part of the Pernod Ricard Group), registered in Ireland
      with Company Number 7587 and Registered Office of Simmonscourt House, Simmonscourt
      Road, Ballsbridge, Dublin 4, Ireland, VAT No 8Z43071A.</p>
    <p>
      The site is operated and all editorial content is created and managed by an independent
      organization, based in the United Kingdom. You must be of legal drinking age to
      use this site. If you are not, do not enter this site.
    </p>
    <h3>
      Restrictions on use</h3>
    <p>
      Access to our site is permitted on a temporary basis, and we reserve the right to
      withdraw or amend the services we provide on the site without notice. We will not
      be liable if for any reason our site is unavailable at any time or for any period.
      Material from this site may not be modified, copied, reproduced, distributed, republished,
      uploaded, posted, or transmitted in any way without the prior written consent of
      WorldsBestBars.com / Fitzgerald & Co. Ltd. Fitzgerald & Co. Ltd. is the owner or
      licensee of all intellectual property rights in the site and in material published
      on it. All such rights are reserved. Neither title nor any intellectual property
      rights are transferred to you by use of or access to this site; rather, all rights,
      title and interest in and to all aspects of the site remain the property of WorldsBestBars.com
      / Fitzgerald & Co. Ltd. Material on this site is provided for lawful purposes only.</p>
    <h3>
      Restriction of liability</h3>
    <p>
      Under no circumstances shall WorldsBestBars.com / Fitzgerald & Co. Ltd., to the
      extent permitted by law be liable for any damages whatsoever (including, but not
      limited to direct, incidental, consequential or indirect loss or damage, including
      lost profits, loss of income or revenue, loss of goodwill, business interruption
      or loss of data or information, or punitive damages even if WorldsBestBars.com /
      Fitzgerald & Co. Ltd. was notified in advance of the potential of such damages)
      harm, or injury howsoever arising, and whether caused by tort, breach of contract
      or otherwise, that relate to, arise out of, or result from the use of, or access
      to, or the inability to use this site or any of the materials of this site or sites
      "hot-linked" to this site, or are caused by any failure of performance, error, omission,
      interruption, defect, delay in operational transmission, computer virus or line
      failure. Nothing in these terms excludes Fitzgerald &Co. Ltd.'s liability for death
      or personal injury arising from its negligence, nor its liability for fraudulent
      misrepresentation or misrepresentation as to a fundamental matter, nor any other
      liability which cannot be excluded or limited under applicable law. The material
      on this site could include technical inaccuracies or typographical errors. The materials
      on this site are provided "as is" and without warranties of any kind, expressed
      or implied. To the fullest extent permissible by applicable laws, WorldsBestBars.com
      disclaims all liability for negligence and disclaims all representations and warranties,
      expressed or implied, (whether by statute, common law, course of dealing, trade
      usage or otherwise) including but not limited to implied warranties of merchantability,
      fitness for a particular purpose, or non-infringement. WorldsBestBars,com / Fitzgerald
      & Co. Ltd. Does not warrant or make any representations that use of the site will
      be uninterrupted or error-free, that the contents will be correct accurate or reliable,
      or that this site or the server that makes it available are free of viruses or other
      harmful components. WorldsBestBars.com does not warrant or make any representations
      and expressly disclaims all liability and responsibility regarding use of or reliance
      upon information contained in this site in terms of its accuracy, reliability or
      otherwise. You (and not WorldsBestBars.com / Fitzgerald & Co. Ltd.) assume the entire
      cost of all necessary servicing, repair or correction.</p>
    <h3>
      Submissions</h3>
    <p>
      All remarks, suggestions, ideas, creative concepts, graphics, or other information
      communicated through this site or otherwise sent to WorldsBestBars.com / Fitzgerald
      & Co. Ltd., including without limitation, product or advertising ideas, (collectively
      the Submissions) will be the property of and owned by WorldsBestBars.com /Fitzgerald
      & Co. Ltd and you hereby assign all right, title and interest in Submissions to
      WorldsBestBars.com /Fitzgerald & Co. Ltd. Without prejudice to the foregoing, you
      hereby grant WorldsBestBars.com / Fitzgerald & Co. Ltd. and its successors and assigns
      a royalty-free, perpetual, irrevocable, non-exclusive licence to reproduce, modify,
      adapt and otherwise use (in whole or in part) Submissions for any purpose, commercial
      or otherwise, and you hereby waive any moral rights and similar rights in the Submissions.
      Submissions will not be confidential, and WorldsBestBars.com / Fitzgerald & Co.
      Ltd. has the right to use, copy, distribute and disclose to third parties all Submissions.
      WorldsBestBars.com / Fitzgerald & Co. Ltd. will not be liable for any use whatsoever
      or disclosure of the Submission, and need not provide any compensation or acknowledgement
      for the Submission. Without limitation, WorldsBestBars.com / Fitzgerald & Co. Ltd.
      will have exclusive ownership of all present and future existing rights to the Submission
      of every kind and nature anywhere. WorldsBestBars.com / Fitzgerald & Co. Ltd. does
      not monitor Submissions to determine whether they include any unlawful, threatening,
      libellous, defamatory, obscene, pornographic or profane material or other material
      that could constitute or encourage criminal or unlawful conduct and you agree not
      to submit any such materials. You acknowledge that you are responsible for whatever
      Submission you send, and you, not WorldsBestBars.com / Fitzgerald & Co. Ltd., have
      full responsibility for the message, including its legality, reliability, and originality.
      WorldsBestBars.com / Fitzgerald & Co. Ltd. reserves the right to alter or amend
      any material submitted by competition entrants, prior to publication, so that any
      unsuitable language or any inappropriate references to named persons, are deleted.</p>
    <h3>
      Jurisdiction</h3>
    <p>
      This agreement shall be governed in accordance with the laws of Ireland, notwithstanding
      any principles of conflicts of laws. Except as described otherwise, all materials
      in this site are made available only to provide information about WorldsBestBars.com
      / Fitzgerald & Co. Ltd., which controls and operates this site from the Republic
      of Ireland and makes no representation that these materials are appropriate or available
      for use in other locations.</p>
    <h3>
      Trademark Information</h3>
    <p>
      All trademarks and all related logos, designs, labels, bottle designs and all other
      intellectual property associated with WorldsBestBars.com brand used herein are owned
      by Fitzgerald & Co. Ltd. - a list of those trademarks can be obtained from the Internet
      Manager, Fitzgerald & Co. Ltd., Simmonscourt House, Simmonscourt Rd., Ballsbridge,
      Dublin 4, Ireland. The use or misuse of these trademarks or any content of this
      site, except as provided above, is strictly prohibited. All other trademarks are
      the property of the respective trademark owners.</p>
    <h3>
      Information about you and your visit to this site</h3>
    <p>
      WorldsBestBars.com / Fitzgerald & Co. Ltd. processes information about you in accordance
      with its privacy policy www.WorldsBestBars.com /privacy. By using the site, you
      consent to such processing and you warrant that all data provided by you is accurate.</p>
    <h3>
      Viruses, hacking and other offences</h3>
    <p>
      You must not misuse this site by knowingly introducing viruses, trojans, worms,
      logic bombs or other material which is malicious or technologically harmful. You
      must not attempt to gain unauthorised access to the site, the service on which the
      site is stored or any server, computer or database connected to the site. You must
      not attack this site via a denial-of-service attack or a distributed denial-of service
      attack. WorldsBestBars.com / Fitzgerald & Co. Ltd. will not be liable for any loss
      or damage caused by a distributed denial-of service attack, viruses or other technologically
      harmful material that may infect your computer equipment, computer programs, data
      or other proprietary material due to your use of this site or to your downloading
      of any material posted on it, or on any website linked to it.</p>
    <h3>
      Miscellaneous products and promotions of worldsbestbars.com</h3>
    <p>
      They are produced and available in many parts of the world. However, this site may
      describe products, promotions or contests that are not available in your country
      or state of domicile. This site may be linked with other sites which are not maintained
      by WorldsBestBars.com / Fitzgerald & Co. Ltd. WorldsBestBars.com / Fitzgerald &
      Co. Ltd. is not responsible for the content of those sites. The inclusion of any
      "hot-link" to any other site is provided for information only and does not imply
      endorsement by WorldsBestBars.com / Fitzgerald & Co. Ltd. of the sites. WorldsBestBars.com
      / Fitzgerald & Co. Ltd. does not have any control over the content of such sites
      and excludes any representation or warranties about any such sites. If any part
      of these Terms and Conditions is unlawful, void or unenforceable, that part will
      be deemed severable and will not affect the validity of any remaining provisions.
      WorldsBestBars.com / Fitzgerald & Co. Ltd. can revise these Terms and Conditions
      or the content of the site at anytime by updating this posting. You are bound by
      any such revisions and should therefore periodically visit this page to review the
      then current Terms and Conditions to which you are bound. Thank you for visiting
      our site. Please enjoy our products responsibly. All rights reserved.</p>
  </div>
</div>
