<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add
      name="Entities"
      connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=com.worldsbestbars.staging;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add
      name="worldsbestbars_db"
      connectionString="Data Source=.;Initial Catalog=com.worldsbestbars.staging;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="hostname" value="staging.worldsbestbars.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <worldsbestbars>
    <facebook>
      <add key="AppId" value="290332227727131" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="AppSecret" value="ee15d34fc53f8266d2212d249353eb87" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </facebook>
    <google>
      <add key="AnalyticsTrackingCode" value="UA-0000000-0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </google>
    <search>
      <add key="Storage" value="C:\websites\com.worldsbestbars\staging\App_Data\Search\Lucene\"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </search>
  </worldsbestbars>
</configuration>