<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add
      name="Entities"
      connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=com.worldsbestbars.www;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add
      name="worldsbestbars_db"
      connectionString="Data Source=.;Initial Catalog=com.worldsbestbars.www;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="hostname" value="www.worldsbestbars.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <worldsbestbars>
    <facebook>
      <add key="AppId" value="162933317129562" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="AppSecret" value="9b379921a355d0a72ad013a522bd86e9" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </facebook>
    <google>
      <add key="AnalyticsTrackingCode" value="UA-2553803-1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </google>
    <search>
      <add key="Storage" value="C:\websites\com.worldsbestbars\production\App_Data\Search\Lucene\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    </search>
  </worldsbestbars>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" defaultRedirect="~/error/problem" redirectMode="ResponseRewrite" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^worldsbestbars\.com$" ignoreCase="true" negate="false" />
          </conditions>
          <action type="Redirect" url="http://www.worldsbestbars.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Insert">
      <remove statusCode="404" />
      <error statusCode="404" path="/error/not-found" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/error/error" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>