@{
  ViewBag.Title = "Accreditations";
}
<div class="step step-three accreditations">
  <h1>Step 3</h1>
  <h2>Your bar</h2>
  @Html.Partial("Progress", "accreditations")
  <h3>Accreditations</h3>
  <p>
    If you're happy with your listing you may want to share the love; we have logos available in a number of formats to embed in your site or to post on Facebook.
  </p>

  <div class="asset horiz-1">
    <p><span>Horizontal Banner 1</span> <a href="/content/img/elements/bar-resource/horizontal-banner-1.jpg" target="_blank">download</a></p>
    <img src="/content/img/elements/bar-resource/horizontal-banner-1.jpg" />
  </div>

  <div class="asset horiz-2">
    <p><span>Horizontal Banner 2</span> <a href="/content/img/elements/bar-resource/horizontal-banner-2.jpg" target="_blank">download</a></p>
    <img src="/content/img/elements/bar-resource/horizontal-banner-2.jpg" />
  </div>

  <div class="asset square-1">
    <p><span>Square Banner 1</span> <a href="/content/img/elements/bar-resource/square-banner-1.jpg" target="_blank">download</a></p>
    <img src="/content/img/elements/bar-resource/square-banner-1.jpg" />
  </div>

  <div class="asset square-2">
    <p><span>Square Banner 2</span> <a href="/content/img/elements/bar-resource/square-banner-2.jpg" target="_blank">download</a></p>
    <img src="/content/img/elements/bar-resource/square-banner-2.jpg" />
  </div>

  <div class="asset facebook-1">
    <p><span>Facebook Accreditation</span> <a href="/content/img/elements/bar-resource/facebook-certification.jpg" target="_blank">download</a></p>
    <img src="/content/img/elements/bar-resource/facebook-certification.jpg" />
  </div>
</div>
