@model CreateBar
@{
  ViewBag.Title = "Create";
}

<div class="step-two create-thanks">
  <div class="step">
    <h1>Step 3</h1>
    <h2>Submit your bar</h2>
    <p>Thanks for your interest in becoming a member of the elite club that is the World's
      Best Bars. We'll review your submission and get back to you as soon as possible.
    </p>
  </div>
</div>
