<div class="action-dialog create-bar">
  <div class="left">
    <div class="scrollable" style="overflow: auto; width: 250px; height: 506px">
      <form action="">
        <fieldset>
          <legend>Basic Details</legend>
          <label for="name">
            Name</label>
          <input type="text" id="name" name="name" class="text ui-widget-content ui-corner-all" />
          <label for="intro">
            Intro</label>
          <textarea name="intro" id="intro" class="text ui-widget-content ui-corner-all" style="height: 50px"></textarea>
          <label for="description">
            Description</label>
          <textarea name="description" id="description" class="text ui-widget-content ui-corner-all"
            style="height: 125px"></textarea>
          <label for="urlkey">
            Url Key</label>
          <input type="text" name="urlkey" id="urlkey" class="text ui-widget-content ui-corner-all" />
          <label for="menu_url">
            Menu Url</label>
          <input type="text" name="menu_url" id="menu_url" class="text ui-widget-content ui-corner-all" />
          <label>
            Location</label>
          <div class="select-location">
            <span class="clearfix"></span>
            <button class="fullwidth">
              Set after saving</button>
          </div>
        </fieldset>
        <hr />
        <fieldset>
          <legend>Contact Details</legend>
          <label for="phone">
            Phone number</label>
          <input type="text" name="phone" id="phone" class="text ui-widget-content ui-corner-all" />
          <label for="fax">
            Fax</label>
          <input type="text" name="fax" id="fax" class="text ui-widget-content ui-corner-all" />
          <label for="Email">
            Email address</label>
          <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all" />
          <label for="website">
            Website</label>
          <input type="text" name="website" id="website" class="text ui-widget-content ui-corner-all" />
        </fieldset>
        <hr />
        <fieldset>
          <legend>Address</legend>
          <label for="street1">
            Street 1</label>
          <input type="text" name="street1" id="street1" class="text ui-widget-content ui-corner-all" />
          <label for="street2">
            Street 2</label>
          <input type="text" name="street2" id="street2" class="text ui-widget-content ui-corner-all" />
          <label for="city">
            City</label>
          <input type="text" name="city" id="city" class="text ui-widget-content ui-corner-all" />
          <label for="county">
            County</label>
          <input type="text" name="county" id="county" class="text ui-widget-content ui-corner-all" />
          <label for="postcode">
            Postcode</label>
          <input type="text" name="postcode" id="postcode" class="text ui-widget-content ui-corner-all" />
          <label for="country">
            Country</label>
          <input type="text" name="country" id="country" class="text ui-widget-content ui-corner-all" />
          <div class="center">
            <button class="find-on-map">
              Find on map</button>
          </div>
        </fieldset>
        <hr />
        <fieldset>
          <legend>Open Hours</legend>
          <div class="openhours">
            <div class="day">
              <label for="time-mon">
                Mon</label>
              <input type="text" name="mon1" id="time-mon" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="mon2" class="ui-widget-content ui-corner-all" />
              and
            <input type="text" name="mon3" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="mon4" class="ui-widget-content ui-corner-all" />
            </div>
            <div class="day">
              <label for="time-tue">
                Tue</label>
              <input type="text" name="tue1" id="time-tue" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="tue2" class="ui-widget-content ui-corner-all" />
              and
            <input type="text" name="tue3" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="tue4" class="ui-widget-content ui-corner-all" />
            </div>
            <div class="day">
              <label for="time-wed">
                Wed</label>
              <input type="text" name="wed1" id="time-wed" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="wed2" class="ui-widget-content ui-corner-all" />
              and
            <input type="text" name="wed3" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="wed4" class="ui-widget-content ui-corner-all" />
            </div>
            <div class="day">
              <label for="time-thurs">
                Thurs</label>
              <input type="text" name="thurs1" id="time-thurs" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="thurs2" class="ui-widget-content ui-corner-all" />
              and
            <input type="text" name="thurs3" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="thurs4" class="ui-widget-content ui-corner-all" />
            </div>
            <div class="day">
              <label for="time-fri">
                Fri</label>
              <input type="text" name="fri1" id="time-fri" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="fri2" class="ui-widget-content ui-corner-all" />
              and
            <input type="text" name="fri3" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="fri4" class="ui-widget-content ui-corner-all" />
            </div>
            <div class="day">
              <label for="time-sat">
                Sat</label>
              <input type="text" name="sat1" id="time-sat" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="sat2" class="ui-widget-content ui-corner-all" />
              and
            <input type="text" name="sat3" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="sat4" class="ui-widget-content ui-corner-all" />
            </div>
            <div class="day">
              <label for="time-sun">
                Sun</label>
              <input type="text" name="sun1" id="time-sun" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="sun2" class="ui-widget-content ui-corner-all" />
              and
            <input type="text" name="sun3" class="ui-widget-content ui-corner-all" />
              to
            <input type="text" name="sun4" class="ui-widget-content ui-corner-all" />
            </div>
          </div>
        </fieldset>
      </form>
      <div class="bar-activation">
        <button class="activate">
          Activate / Deactivate</button>
        <button class="view">
          View</button>
      </div>
    </div>
  </div>
  <div class="right">
    <ul>
      <li><a href="#create-bar-right-map">Map</a></li>
      <li><a href="#create-bar-right-media">Media</a></li>
      <li><a href="#create-bar-right-reviews">Reviews</a></li>
      <li><a href="#create-bar-right-related">Related</a></li>
      <li><a href="#create-bar-right-features">Features</a></li>
    </ul>
    <div class="create-bar-right-map">
      <div class="map">
      </div>
    </div>
    <div class="create-bar-right-media">
      <div class="media-list">
      </div>
      <div class="media-upload">
        <form class="upload-form" enctype="multipart/form-data" action="/admin/process/uploadmedia"
          method="post">
          <div>
            <input name="file" type="file" />
          </div>
          <div>
            <input type="submit" value="Upload" />
          </div>
        </form>
      </div>
    </div>
    <div class="create-bar-right-reviews">
      <div class="reviews">
      </div>
    </div>
    <div class="create-bar-right-related">
      <div class="related">
        <div class="existing">
          <label>
            Existing (click to remove)</label>
          <div class="search-results">
          </div>
        </div>
        <div class="add">
          <div class="search">
            <label for="search">
              Search (click to add)</label>
            <input type="text" id="search" name="search" class="text ui-widget-content ui-corner-all" />
          </div>
          <div class="search-results">
          </div>
        </div>
      </div>
    </div>
    <div class="create-bar-right-features">
      <div>
        <div class="features"></div>
        <div class="add_feature">
          <h2>Add new feature</h2>
          <div class="feature">
            <label for="feature_name_add">Name</label>
            <input id="feature_name_add" class="name" />
            <label for="feature_sponsor_add">Sponsor</label>
            <select id="feature_sponsor_add" class="sponsor">
              <option value=""></option>
              <option value="absolut">Absolut</option>
              <option value="beefeater">Beefeater</option>
              <option value="chivas">Chivas</option>
              <option value="havana-club">Havana Club</option>
              <option value="jameson">Jameson</option>
            </select>
            <label for="feature_details_add">Description</label>
            <textarea id="feature_details_add" class="details"></textarea>
            <label for="feature_extra_add">Extra</label>
            <textarea id="feature_extra_add" class="extra"></textarea>
            <label for="feature_type_add">Type</label>
            <select id="feature_type_add" class="type">
              <option value="regular-feature">Regular feature</option>
              <option value="signature-cocktail">Signature cocktail</option>
            </select>
            <label for="feature_active_add">Is Active</label>
            <input id="feature_active_add" class="active" type="checkbox" />
            <input type="file" class="file" />
            <input id="feature_save_add" class="save" type="button" value="Save" />

          </div>
          <!--<h2>Upload menu</h2>
          <div class="menu-upload">
            <form action="/">
              <input type="file" name="file" />
              <input type="submit" />
            </form>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
