<div class="action-dialog manage-bar-resource-submissions">
  <div class="left ui-widget ui-widget-content ui-corner-left">
    <div class="scrollable" style="overflow: auto; width: 250px; height: 553px">
      <div class="list">

      </div>
    </div>
  </div>
  <div class="right ui-widget ui-widget-content ui-corner-right">
    <a href="#" class="view_current action" data-action="edit-bar">view current bar</a>
    <label>Name <span class="current-name"></span></label>
    <input type="text" class="name" readonly="readonly" />
    <label>Website <span class="current-website"></span></label>
    <input type="text" class="website" readonly="readonly" />
    <label>Email <span class="current-email"></span></label>
    <input type="text" class="email" readonly="readonly" />
    <label>Address <span class="current-address"></span></label>
    <input type="text" class="address" readonly="readonly" />
    <label>Phone <span class="current-phone"></span></label>
    <input type="text" class="phone" readonly="readonly" />
    <label>Pictures</label>
    <div class="pictures"></div>
    <label>Styles</label>
    <div class="styles"></div>
    <label>Specialities</label>
    <div class="specialities"></div>
    <label>Atmosphere</label>
    <div class="atmosphere"></div>
    <label>Menu</label>
    <input type="text" class="menu" readonly="readonly" />
    <div class="menu-files"></div>
    <label>Features</label>
    <div class="features">
    </div>
    <label>Opening Hours</label>
    <div class="open-hours">
    </div>

    <label>Signature Cocktail</label>
    <label>Name</label>
    <input type="text" class="cocktail-name" />
    <label>Description</label>
    <textarea class="cocktail-description"></textarea>
    <label>Ingredients</label>
    <textarea class="cocktail-ingredients"></textarea>
    <label>Sponsor</label>
    <select class="cocktail-sponsor">
      <option>Absolut</option>
      <option>Jameson</option>
      <option>...</option>
    </select>

    <label>Location</label>
    <div class="geo"></div>
  </div>
</div>
