<div class="menu">
  <dl>
    <dt><a href="#" class="action" data-action="edit-bar">Create a new bar</a></dt>
    <dt><a href="#" class="action" data-action="manage-locations">Manage bars and locations</a></dt>
    <dt><a href="#" class="action" data-action="manage-lists">Maintain lists</a></dt>
    <dt><a href="#" class="action" data-action="manage-experts">Maintain experts</a></dt>
    <dt><a href="#" class="action" data-action="manage-documents">Edit documents</a></dt>
    <dt><a href="#" class="action" data-action="moderate-reviews">Bar reviews requiring
      moderation</a></dt>
    <dt><a href="#" class="action" data-action="manage-advertising">Manage advertising</a></dt>
    <dt><a href="#" class="action" data-action="moderate-bar-resource-submissions">Moderate Bar Resource submissions</a></dt>
    <dt><a href="/admin/process/email-export">Export subscriber emails</a></dt>
    <dt><a href="/admin/auth/logout">Logout</a></dt>
  </dl>
</div>
