<div class="action-dialog moderate-reviews">
  <div class="tabs">
    <ul>
      <li class="tab-head"><a href="#moderate-reviews-awaiting">Awaiting moderation</a></li>
      <li class="tab-head"><a href="#moderate-reviews-recent">Recently moderated</a></li>
    </ul>
    <div class="moderate-reviews-awaiting">
      <div class="reviews">
      </div>
    </div>
    <div class="moderate-reviews-recent">
      <div class="reviews">
      </div>
    </div>
  </div>
</div>
